<div class="row container mt-4" >
    <div class="col-3" style="width: auto !important">
        <h2> Busquedas </h2>
        <hr>
        <ul class="list-group" >    
            <li  routerLink="../busqueda" routerLinkActive="active" class="list-group-item">Buscador</li>
            <li class="list-group-item" routerLink="../porcategoria" routerLinkActive="active">Por categoria</li>
        </ul>
    </div>

    <div class="col">
        <div>
            <h2> Categorias: <small>{{categoriaActiva | titlecase}}</small></h2>
            <hr>
            <h5 style = "margin: 5px"> Seleccione la categoria </h5>
            <div class = "row">
                <div class = "col">
                    <button *ngFor="let categoria of categorias"
                    [class]="(categoria.categoria === categoriaActiva) ? 'btn btn-primary' : 'btn btn-outline-primary'"
                    (click)="activaCategoria(categoria._id,categoria.categoria)">
                        {{categoria.categoria | titlecase}}
                    </button>
                    <div class="row" *ngIf="documentos.length > 0">
                        <div class="col">
                            <table class=" table table-hover">
                                    <thead>
                                        <tr>
                                            <th> # </th>
                                            <th> Titulo </th>
                                            <th> Autor </th>
                                            <th> Categoria</th>
                                            <th> Biblioteca </th>
                                            <th> Repositorio </th>
                                        </tr>
        
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let documento of documentos; let i = index ">
                                            <td> {{i + 1}}</td>
                                            <td> {{documento.titulo}} </td>
                                            <td> {{documento.autor}} </td>
                                            <td> {{documento.categoria[0].categoria}} </td>
                                            <td> 
                                                <a href= {{documento.linkB}} target="_blank"> Ir... </a>
                                            </td>
                                            <td>
                                                <a href={{documento.linkR}} target="_blank"> Ir... </a>
                                            </td>
                                        </tr>
                                    </tbody>
                            </table>
        
                        </div>
        
                    </div>
                </div>
            </div>
    </div>
</div>