<!--<mat-drawer-container fullscreen>
    <mat-sidenav #sidenav>
        <h1>Menú</h1>
        <h1>opcion</h1>
        <h1>xd</h1>
    </mat-sidenav>

    <mat-toolbar>
        <button mat-icon-button
                (click) = "sidenav.toggle">
            <mat-icon>menu</mat-icon>
        </button>
    </mat-toolbar>

</mat-drawer-container>
-->
<!--
<h1>Dashboard</h1>

<p>
    Esta pagina funciona si estas autenticado
</p>

<h4> User info</h4>

<pre> {{usuario | json}} </pre>

<button (click)="logout()">
    Logout
</button> -->