<h1 style="text-align:center;"> INICIO </h1>

<h4 style="margin:100px;text-align: justify;">Esta es una web de apoyo para proyecto de título donde 
                        encontraras muchas herramientas útiles para este proceso.
</h4>

<div class="container">
    <div class="row col-md-12">
    <img src="../../../../../assets/images/ucen inicio 1.jpeg" class="col-md-4"/>
    <img src="../../../../../assets/images/ucen inicio 2.jpeg" class= "col-md-4"/>
    <img src="../../../../../assets/images/ucen inicio 3.jpeg" class="col-md-4"/>
    </div>
</div>