<h1 style="text-align:center;"> INICIO </h1>

<h4 style="margin:100px;text-align: justify;">Esta es una web de apoyo para proyecto de titulo donde encontraras
                        encontraras muchas herramientas utiles para este proceso.
</h4>

<div class="container">
    <img src="../../../../../assets/images/ucen inicio 1.jpeg" width="280" height="210" style="margin-right: 20px; margin-left: 60px;"/>
    <img src="../../../../../assets/images/ucen inicio 2.jpeg" width="280" height="210"style="margin-right: 20px;"/>
    <img src="../../../../../assets/images/ucen inicio 3.jpeg" width="280" height="210"/>
</div>